.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
    color: #FFB997; /* Laranja pastel */
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
    color: #C6E2E9; /* Azul pastel claro */
}

.banner__pesquisa {
    background-color: #FFF0F5; /* Rosa pastel */
    border: 1px solid var(--branco);
    color: var(--azul); /* Azul pastel */
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #FFB6C1; /* Rosa pastel */
    background: url("../img/Lupa.svg") no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }
    .banner__pesquisa {
        width: 50%;
    }
    .banner__pesquisa::placeholder {
        background-position: 7em;
    }
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 35%;
    }
    .banner {
        padding: 6em 0;
    }
    .banner__pesquisa::placeholder {
        background-position: 12em;
    }
}